
<div class="intro">
    <div class="minercontent">
        <div><strong>Any issues with the pool or for feedback find us on Telegram or message us on Twitter.</strong></div>
        <div>
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <a href="https://t.me/omegapool" target="_blank">omegapool.cc on Telegram</a>
        </div>
        <div>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="https://twitter.com/OmegaPoolMining" target="_blank">omegapool.cc on Twitter</a>
        </div>
    </div>
</div>

{% if current_route != 'index' %}
    <div class="intro">
        <div class="minercontent">
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget cmc" data-currency={{ formatCoinName(coin_seo_name) }} data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false"></div>
        </div>
    </div>
{% endif %}

<div class="fork-info">Fork based on <a href="https://github.com/tpruvot/yiimp" target="_blank">YiiMP project</a></div>

<script>
  var d = new Date();
  var n = d.getTimezoneOffset();
  console.log(n);
</script>

{% if load_charts %}
    <!-- custom js for charts -->
    <script src="js/custom-charts.js"></script>

    <script>
      {% if wallet %}
        // Get the user charts if we have active wallet
        $.getJSON("api.php?type=user-hashrate&uid={{ user.id }}&coin={{ coin_seo_name }}&callback=?", function (json) {
          plotLineGraph(json, 'container-user', 'Your total hashrate - Mh/s');
        });
      {% endif %}

      // Get total pool hashrate chart
      $.getJSON("api.php?type=pool-hashrate&coin={{ coin_seo_name }}&callback=?", function (json) {
        plotLineGraph(json, 'container-pool', 'Pool hashrate - Gh/s');
      });
    </script>
{% endif %}

{% if load_miner_charts %}
    <!-- custom js for pie charts -->
    <script src="js/custom-charts-pie.js"></script>
    <script>
        // Get workers pie chart
        $.getJSON("api.php?type=worker-distribution&coin={{ coin_seo_name }}&callback=?", function (json) {
            plotPieGraph(json, 'container-miners-pie', 'Workers distribution');
        });
    </script>
{% endif %}

{% if load_blocks_charts %}
    <!-- custom js for charts -->
    <script src="js/custom-charts.js"></script>

    <script>
      // Get total pool hashrate chart
      $.getJSON("api.php?type=block-difficulty&coin={{ coin_seo_name }}&callback=?", function (json) {
        console.log(json);
        plotLineGraph(json, 'container-block-diff', 'Block difficulty change');
      });
    </script>
{% endif %}

</body>
</html>