<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitcore (BTX) - Stable and profitable Bitcore mining pool with regular payouts.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/bitcore_timeline.css" />

    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    {% if load_charts or load_miner_charts %}
        <!-- Highcharts -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <!-- Additional files for the Highslide popup effect -->
        <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
        <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
    {% endif %}

</head>
<body>

<div id="header">

    <a href="index.php">
        <img class="logo" src="images/btx.png" alt="BTX" height="40" />
    </a>

    {% for route in routes %}
    <a href="{{ route.url }}" target="{{ route.target }}">
        <div class="button mobile">
            <i class="fa-icons fa fa-{{ route.id }}" aria-hidden="true"></i>
            <span>
                <label> {{ route.label }} </label>
            </span>
        </div>
    </a>
    {% endfor %}

    {% if wallet %}
        <div class="button download" data-link="#"><span><label>Your hashrate: </label> 35 Mh/s </span></div>
    {% endif %}
</div>