{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">omegapool.cc - stable and profitable mining pools!</h1>
        <div class="minercontent">

            <div>
                <strong>
                    omegapool.cc supports POW mining for selection of coins which have active dev teams and we can see them as reliable and trustworthy.
                </strong>
            </div>

            <table class="table">
                <tr>
                    <th>Coin</th>
                    <th>Algorithm</th>
                    <th>Network Hashrate</th>
                    <th>Pool Hashrate</th>
                    <th>Active Miners</th>
                    <th>Pool fee</th>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bitcore.png" alt="bitcore mining" />
                        <a href="?page=dashboard&coin=bitcore">Bitcore (BTX)</a>
                    </td>
                    <td>TimeTravel10</td>
                    <td>{{ total_hashrate_bitcore_gh|default('n/a') }} Gh/s</td>
                    <td>{{ showFriendlyHash(pool_hashrate_bitcore) }}</td>
                    <td>220</td>
                    <td>1%</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bulwark.png" alt="bulwark mining" />
                        <a href="?page=dashboard&coin=bulwark">Bulwark (BWK)</a>
                    </td>
                    <td>nist5</td>
                    <td>{{ total_hashrate_bulwark_gh|default('n/a') }} Gh/s</td>
                    <td>35 Gh/s</td>
                    <td>220</td>
                    <td>0.5%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/lux.png" alt="lux mining" />
                        <a href="?page=dashboard&coin=lux">Luxcoin (LUX)</a>
                    </td>
                    <td>phi</td>
                    <td>{{ total_hashrate_lux_gh|default('n/a') }} Gh/s</td>
                    <td>35 Gh/s</td>
                    <td>220</td>
                    <td>0.5%</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/verge.png" alt="verge mining" />
                        <a href="?page=dashboard&coin=verge">Verge (XVG)</a>
                    </td>
                    <td>x17</td>
                    <td>n/a</td>
                    <td>35 Gh/s</td>
                    <td>220</td>
                    <td>0.5%</a></td>
                </tr>
            </table>

        </div>
    </div>
</div>

{% include 'footer.html' %}