{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">minerpool.party - stable and profitable mining pools!</h1>
        <div class="minercontent">

            <div>
                <strong>
                    minerpool.party supports POW mining for selection of coins which have trusted dev teams and we can see them as reliable and trustworthy.
                </strong>
            </div>

            <table class="table">
                <tr>
                    <th>Coin</th>
                    <th>Algorithm</th>
                    <th>Network Hashrate</th>
                    <th>Pool Hashrate</th>
                    <th>Active Miners</th>
                    <th>Url</th>
                </tr>

                <tr>
                    <td> Bitcore (BTX) </td>
                    <td> Bitcore / TimeTravel10 </td>
                    <td> 2123 Gh/s </td>
                    <td> 35 Gh/s </td>
                    <td>220</td>
                    <td>Go to <a href="https://www.bitcorepool.cc">bitcorepool.cc</a></td>
                </tr>

            </table>

        </div>
    </div>
</div>

{% include 'footer.html' %}