body {
    font-family: Dosis, sans-serif;
    margin: 0px;
    font-size: 100%;
    background: #EEEEEE;
    background-image: url('../images/bg.png');
    background-attachment: fixed;
}

.logo {
    padding-left: 10px;
    float: left;
}

.logo-list {
    float: left;
    padding-right: 3px;
    width: 20px;
    height: 20px;
}

.omegapool-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

#header {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 40px;
    left: 0px;
    right: 0px;
    top: 0px;
    font-family: Arial;
    font-size: 0.8em;
    background: #333333;
    background: -webkit-linear-gradient(top, #444444, #222222);
    background: -moz-linear-gradient(top, #444444, #222222);
    background: -ms-linear-gradient(top, #444444, #222222);
    background: -o-linear-gradient(top, #444444, #222222);
    background: linear-gradient(top, #444444, #222222);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
#header .left {
    float: left;
    margin-left: 10px;
}
#header .right {
    float: right;
}
#header div.button {
    position: relative;
    padding: 0px 20px 0px 10px;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}
#header div.button.selected {
    cursor: default;
    background: #222222;
    background: -webkit-linear-gradient(top, #222222, #444444);
    background: -moz-linear-gradient(top, #222222, #444444);
    background: -ms-linear-gradient(top, #222222, #444444);
    background: -o-linear-gradient(top, #222222, #444444);
    background: linear-gradient(top, #222222, #444444);
}
#header div.button:hover {
    background: #F9F9F9;
}
#header div.button label {
    cursor: pointer;
}
#header div.button.selected label {
    cursor: default;
}
#header div.button span {
    /*display: block;*/
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    /*padding-left: 35px;*/
    background-repeat: no-repeat;
}
#header div.button:hover span {
    color: #000000;
}

#header div.button:hover i {
    color: #000000;
}

#header div.button.setting span {
    background-position: 3px -555px;
}
#header div.button.setting:hover span {
    background-position: -270px -555px;
}
#header div.button.demo span {
    background-position: 0px -703px;
}
#header div.button.demo:hover span {
    background-position: -274px -703px;
}
#header div.button.mobile span {
    background-position: 0px -517px;
}
#header div.button.mobile:hover span {
    background-position: -274px -517px;
}
#header div.button.twitter span {
    background-position: 0px -1036px;
}
#header div.button.twitter:hover span {
    background-position: -274px -1036px;
}
#header div.button.facebook span {
    background-position: 0px -1084px;
}
#header div.button.facebook:hover span {
    background-position: -274px -1084px;
}
#header div.button.download span {
    background-position: 0px -666px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}
#header div.button.download:hover span {
    color: #FFFFFF;
}

/* Font awesome icon styles */
#header .fa-icons {
    font-size: 20px;
    float: left;
    padding: 10px;
    color: white;
}

/* Settings */
#header div.button div.settings {
    display: none;
    position: absolute;
    padding: 20px;
    left: -1px;
    top: 40px;
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: default;
    z-index: 100;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}
#header div.button:hover div.settings {
    display: block;
}
#header div.button div.settings div.row {
    margin-bottom: 20px;
}
#header div.button div.settings div.row:last-child {
    margin-bottom: 0px;
}
#header div.button div.settings label {
    display: block;
    color: #000000;
    font-size: 0.8em;
    margin-bottom: 5px;
}
#header div.button div.settings select {
    margin: 0px;
    width: 222px;
    display: block;
    border: none;
    outline: none;
    padding: 6px 10px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-family: Arial;
}
#header div.button div.settings input[type=text] {
    margin: 0px;
    width: 200px;
    display: block;
    border: none;
    outline: none;
    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Arial;
}
#header div.button div.settings input[type=button] {
    margin: 0px;
    text-transform: uppercase;
    padding: 6px 20px;
    color: #FFFFFF;
    border: 1px solid #064770;
    text-shadow: 1px 1px 0px #555555;
    cursor: pointer;
    background: #0F6FAA;
    background: -webkit-linear-gradient(top, #258ED2, #0F6FAA);
    background: -moz-linear-gradient(top, #258ED2, #0F6FAA);
    background: -ms-linear-gradient(top, #258ED2, #0F6FAA);
    background: -o-linear-gradient(top, #258ED2, #0F6FAA);
    background: linear-gradient(top, #258ED2, #0F6FAA);
    border-radius: 5px;
}
#header div.button div.settings input[type=button]:hover {
    background: -webkit-linear-gradient(top, #0F6FAA, #258ED2);
    background: -moz-linear-gradient(top, #0F6FAA, #258ED2);
    background: -ms-linear-gradient(top, #0F6FAA, #258ED2);
    background: -o-linear-gradient(top, #0F6FAA, #258ED2);
    background: linear-gradient(top, #0F6FAA, #258ED2);
}

/* Dropdown */
#header div.button ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #000000;
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    border-top: none;
    position: absolute;
    top: 40px;
    left: -1px;
    right: -1px;
    font-size: 0.8em;
    display: none;
    z-index: 100;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}
#header div.button:hover ul {
    display: block;
}
#header div.button li {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
}
#header div.button.download,
#header div.button li:hover,
#header div.button li.selected {
    float: right;
    color: #FFFFFF;
    background: #D84A38;
    background: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background: -moz-linear-gradient(top, #dd4b39, #d14836);
    background: -ms-linear-gradient(top, #dd4b39, #d14836);
    background: -o-linear-gradient(top ,#dd4b39, #d14836);
    background: linear-gradient(top, #dd4b39, #d14836);
}
#header div.button.download:hover,
#header div.button li:active {
    background: #CC3524;
    background: -webkit-linear-gradient(top, #d14836, #dd4b39);
    background: -moz-linear-gradient(top, #d14836, #dd4b39);
    background: -ms-linear-gradient(top, #d14836, #dd4b39);
    background: -o-linear-gradient(top, #d14836, #dd4b39);
    background: -linear-gradient(top, #d14836, #dd4b39);
}


/* Main */
#main {
    margin-top: 50px;
}

@media screen and (max-width: 950px) {
    #header div.button {
        padding: 0px 0px;
    }
    #header div.button span {
        /*padding-left: 18px !important;*/
    }
    #header div.button span label {
        display: none;
    }
    #header div.button.setting span {
        background-position: 0px -555px;
    }
    #header div.button.setting:hover span {
        background-position: -273px -555px;
    }
}

/* demo */
#social_search {
    text-align: center;
}
#timeline.demo5 {
    width: 600px;
    margin: 0px auto;
}
#timeline.demo5.mobile {
    width: 100%;
}
img.twitter_profile {
    margin: 0px 5px 5px 0px;
    border-radius: 3px;
    width: 48px;
    height: 48px;
}
img.facebook_profile {
    margin: 0px 5px 5px 0px;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 600px) {
    #timeline.demo5 {
        width: 100%;
    }
}
@media screen and (orientation:portrait) {
    #timeline.demo5 {
        width: 100%;
    }
}

.intro {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background: #CCC;
    margin: 10px;
    min-height: 80px;
}

/* Label settings per coin */
.bitcore {
    background-color: #e82b97 !important;
}

.bulwark {
    background-color: #058ee6 !important;
}

.lux {
    background-color: #40c2dc !important;
}

.gobyte {
    background-color: #6492c3 !important;
}

.bitsend {
    background-color: #5fb7ff !important;
}

.raven {
    background-color: #f05239 !important;
}

.megacoin {
    background-color: #ef3436 !important;
}

.mano {
    background-color: #6492c3 !important;
}

.label {
    display: inline;
    padding: 2px 4px 2px;
    margin-left: 5px;
    font-size: 85%;
    color: #fff;
    border-radius: .25em;
    line-height: 1.8;
}

.help-text {
    font-size: 11px;
    max-height: 20px;
}

h1 {
    font-size: 1.2em;
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.header-h1 {
    float: left;
    width: 100%;
}

.userImg {
    width: 100%;
}

.imgContainer {
    height: auto;
    max-width: 500px;
}

.intro-info {
    margin-left: 10px;
    display: inline-block;
}

.fork-info {
    text-align: center;
    font-size: 11px;
}

.get-started {
    border-left: 1px solid #804d7e;
    border-left-width: 5px;
    padding-left: 5px;
    background-color: #eeeeee;
    margin: 10px;
    font-size: 3vmin
}

ul.input-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
}
ol, ul:not(.announcements) {
    list-style: none;
}

li.li-inline {
    float: left;
    line-height: 36px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.wallet-input input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
.wallet-input input[type="text"]:focus,
.wallet-input input[type="text"].focus {
    border-bottom: solid 2px #969696;
}

.wallet-input {
    width: 100%;
    min-height: 50px;
}

.all-news-btn {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #333333);
    background-image: -moz-linear-gradient(top, #666666, #333333);
    background-image: -ms-linear-gradient(top, #666666, #333333);
    background-image: -o-linear-gradient(top, #666666, #333333);
    background-image: linear-gradient(to bottom, #666666, #333333);

    border: none;
    color: #ffffff !important;
    font-size: 12px !important;
    padding: 7px 8px 9px 7px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 100px;
    min-height: 30px;
    display: inline;
}

.all-news-btn:hover {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #000000);
    background-image: -moz-linear-gradient(top, #666666, #000000);
    background-image: -ms-linear-gradient(top, #666666, #000000);
    background-image: -o-linear-gradient(top, #666666, #000000);
    background-image: linear-gradient(to bottom, #666666, #000000);
    text-decoration: none;
}

@media only screen and (max-width:480px) {
    .wallet-input { min-height: 80px; }
    .all-news-btn { min-width: 200px; font-size: 4.25em; }
}

/* Style the tab */
div.tab {
    margin-top: 10px;
    overflow: hidden;
    border: solid 2px #c9c9c9;
    border-bottom: none;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: solid 2px #c9c9c9;
    background-color: #eeeeee;
}

.minercontent {
    padding: 6px 12px;
    border: solid 2px #c9c9c9;
    background-color: #eeeeee;
}

.cmc {
    background-color: white;
    width: 300px;
    border: 2px solid #E4E6EB;
    border-radius: 10px;
}

/**
 * Responsive tables
 */
table.table { width: 100%; }

.table th, .table td {
    text-align: left;
    padding: 0.25em;
}

.table tr {
    border-bottom: 1px solid #DDD;
}

@media screen and (max-width: 800px) {
    #header div.button.download span {
        background-position: 0px -666px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
        font-size: 2.5vmin;
    }
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        border: 1px solid rgba(3,3,3,0.2);
    }
    td, th {
        min-width: 150px;
        flex: 1 1 150px;
        border: 0.5px solid rgba(3,3,3,0.2);
        font-size: 0.8em;
    }
    th:nth-child(1) {
        min-width: auto;
    }
    td:nth-child(1) {
        min-width: auto;
        font-size: 0.7em;
    }
}

    td.custom-twitter {
        min-width: 300px;
    }

    td.custom-ethmonitor {
        min-width: 60%;
        vertical-align: top;
    }


/* unvisited link */
a:link {
    color: #666666;
}

/* visited link */
a:visited {
    color: #666666;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #666666;
}

a.masternode-active:link {
    font-size: larger;
    color: #0F6FAA !important;
}

a.masternode-active:visited {
    font-size: larger;
    color: #0F6FAA !important;
}

a.masternode-active:active {
    font-size: larger;
    color: #0F6FAA !important;
}

a.masternode-funds:link {
    font-size: larger;
    color: darkseagreen !important;
}

a.masternode-funds:visited {
    font-size: larger;
    color: darkseagreen !important;
}

a.masternode-funds:active {
    font-size: larger;
    color: darkseagreen !important;
}