{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">Last 30 Blocks</h1>
        <div class="minercontent">

            Last 30 blocks mined by this pool, if you logged in with your wallet, you can see your earnings for each block.

            <table class="table">
                <tr>
                    <th>Block number</th>
                    <th>Block reward</th>
                    <th>Time found</th>
                </tr>

                {% for block in blocks %}
                    <tr>
                        <td> {{ block.height }} </td>
                        <td> {{ block.amount }} </td>
                        <td> {{ block.time }}</td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>

{% include 'footer.html' %}