{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">Last 30 Blocks</h1>
        <div class="minercontent">

            Last 30 blocks mined by this pool, if you logged in with your wallet, you can see your contribution for each block.

            <table class="table">
                <tr>
                    <th>Miner</th>
                    <th>Hashrate (last 5 minutes, short average)</th>
                    <th>Hashrate (last 3 hours, more accurate)</th>
                </tr>

                {% for miner in miners %}
                    <tr>
                        <td>
                            <a href="index.php?page=index&wallet={{ miner.username }}"> {{ miner.username }} </a>
                        </td>
                        <td>{{ showFriendlyHash(attribute(hahsrates_5_min, miner.userid).hashrate) }}</td>
                        <td>long average</td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>

{% include 'footer.html' %}