{% include 'header.html' %}

<div id="main">

    <div class="intro">
        <h1 class="header-h1">BTXpool - Bitcore (BTX) mining pool</h1>
        <div class="intro-info">
            <strong>Min. payout threshold: </strong> <span class="label label-btx">1 BTX</span>
            <div class="help-text">Payouts are continuous throughout the day.</div>
        </div>
        <div class="intro-info">
            <strong>Reward structure: </strong> <span class="label label-btx">Proportional</span>
            <div class="help-text">Proportional reward based on the number of submitted "valid" shares and difficulty.</div>
        </div>
        <div class="intro-info">
            <strong>Pool fee: </strong> <span class="label label-btx">1%</span>
            <div class="help-text">No transaction fees!</div>
        </div>
    </div>

    {% for worker in workers %}
        <div>
            <span>{{ worker.version }}: </span>
            <span>{{ worker.hashrate }}</span>
        </div>
    {% endfor %}
</div>

{% include 'footer.html' %}
