{% include 'header.html' %}

<div id="main">
    {% for worker in workers %}
        <div>
            <span>{{ worker.version }}: </span>
            <span>{{ worker.hashrate }}</span>
        </div>
    {% endfor %}
</div>

{% include 'footer.html' %}
