{% include 'header.html' %}

<div id="main">

    <div class="intro">
        <h1 class="header-h1">BTXpool - Bitcore (BTX) mining pool</h1>
        <div class="intro-info">
            <strong>Miners online: <span class="label label-btx">1222</span> </strong>
            <div class="help-text">Data last refreshed: 20:06.</div>
        </div>
        <div class="intro-info">
            <strong>Min. payout threshold: <span class="label label-btx">1 BTX</span> </strong>
            <div class="help-text">Payouts are continuous throughout the day.</div>
        </div>
        <div class="intro-info">
            <strong>Pool hashrate: <span class="label label-btx">224.70 GH</span> </strong>
            <div class="help-text">Data last refreshed: 20:06.</div>
        </div>
        <div class="intro-info">
            <strong>Reward structure: <span class="label label-btx">Proportional</span> </strong>
            <div class="help-text">Proportional reward based on the number of submitted "valid" shares and difficulty.</div>
        </div>
        <div class="intro-info">
            <strong>Pool fee: <span class="label label-btx">1%</span> </strong>
            <div class="help-text">No transaction fees!</div>
        </div>
    </div>

    <div class="intro">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>

    <div class="intro">

        <h2>Instructions - getting started</h2>

        <div><strong>Stratum port</strong></div>
        <div class="get-started">stratum+tcp://btxpool.com:1111</div>

        <div><strong>Nvidia cards using <a href="https://github.com/tpruvot/ccminer/releases" target="_blank">CCMINER</a></strong></div>
        <div class="get-started">ccminer-x64 -a bitcore -o stratum+tcp://btxpool.com:1111 -u 1NgZ7MjHmVUuuy2Y4UMxDaVm4Me3TcNMpt -p x</div>

        <div><strong>Nvidia cards using SPMOD2</strong></div>
        <div class="get-started">ccminer -a bitcore -o stratum+tcp://btxpool.com:1111 -u 1NgZ7MjHmVUuuy2Y4UMxDaVm4Me3TcNMpt -p x</div>

        <div><strong>AMD cards using <a href="https://github.com/LIMXTEC/BitCore/releases" target="_blank">SGMINER</a></strong></div>
        <div class="get-started">sgminer.exe --kernel timetravel10 -o stratum+tcp://btxpool.com:1111 -u 1NgZ7MjHmVUuuy2Y4UMxDaVm4Me3TcNMpt -p x -I 19</div>

    </div>


</div>

{% include 'footer.html' %}
