{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">Miners</h1>
        <div class="minercontent">
            Total pool hashrate: {{ showFriendlyHash(total_pool_hashrate.hashrate) }}
            {% for miner in miners %}
                <div>Miner: Hashrate: (5 min) / (1h) / (24h)</div>
                <div class="wallet-info-label">
                    <a href="index.php?page=index&wallet={{ miner.username }}"> {{ miner.username }} </a>
                    {{ showFriendlyHash(attribute(hahsrates_5_min, miner.userid).hashrate) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'footer.html' %}